mixin pagination ()
  ul.pagination
    li.pagination__item
      a.pagination__link(href='#') 1 
    li.pagination__item
      a.pagination__link(href='#') 2 
    li.pagination__item
      span.pagination__dots ... 
    li.pagination__item
      a.pagination__link(href='#') 5
    li.pagination__item_current.pagination__item
      .pagination__circle(href='#') 6 
    li.pagination__item
      a.pagination__link(href='#') 7 
    li.pagination__item
      span.pagination__dots ...
    li.pagination__item
      a.pagination__link(href='#') 11 
    li.pagination__item
      a.pagination__link(href='#') 12  