.header {
  background-color: var(--colorBase);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  height: var(--headerHeight);
  color: var(--colorWhite);
}

.header-shrinked .header {
  height: var(--headerShrinkedHeight);
  
  .header__contacts {
    visibility: hidden;
  }
}

.header__contacts, .header__menu {
  max-width: var(--containerWidth);
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.header__contacts {
  padding: 20px 0 30px;
}
.header__logo {
  width: 74px;
  height: 60px;
}
.header__menu  {
  display: flex;
  align-items: center;
  padding-bottom: 30px;
}
.contact-bar {
  font: 400 12px 'Roboto', sans-serif;
}
.contact-bar__real, .contact-bar__social {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
}
.contact-bar__real {
  justify-content: flex-start;
}
.contact-icons__item {
  margin-left: 25px;
  display: flex;
}
.contact-icons__item:first-child {
  margin: 0;
}
.contact-icons__icon {
  vertical-align: middle;
}
.header__navigation {
  margin: 0 auto 0 0;
  padding-left: 90px;
  display: flex;
}
.header__navigation ul {
  flex: 0 1 auto;
  margin: 0;
  padding: 15px 0;
  display: flex;
  align-items: center;
  list-style-type: none;
}
.header__navigation ul li a{
  padding: 0 18px;
  font: bold 14px 'Roboto', sans-serif;
  letter-spacing: 0.3px;
}
.header__navigation ul li:first-child  {
  margin-left: 0;
}
.header__navigation ul li:first-child a{
  padding: 5px 25px 5px 10px;
  border: 1px solid var(--colorWhite);
  border-radius: 2px;
}
.header__mobile-hamburger {
  display: none;
}
.control-bar {
  display: flex;
}
.social-icons {
  display: flex;
  align-items: center;
}