.single {
  display: flex;
  padding: 0 60px;
}
.single__thumbnail {
  flex: 0 1 40%;
  padding-right: 20px;
  padding-top: 70px;
}
.single__thumbnail img {
  width: 100%;
}
.single__content {
  flex: 0 1 60%;
  padding-left: 20px;
  border-left: var(--borderGray);
}
.single__headling {
  padding: 0;
  padding-top: 70px;
  max-width: 290px;
  margin: 0;
  font: 400 16px 'Roboto', sans-serif;
}
.single__date {
  padding-top: 5px;
  font: 100 10px 'Roboto', sans-serif;
}
.single__text {
  font: 300 12px 'Roboto', sans-serif;
  margin-bottom: 90px;
}
.songle__text p {
  margin: 0;
  padding: 0;
  padding-top: 30px;
}