
<div class="modal"> 
  <ul class="modal__categories modal-categories">
    <li class="modal-categories__category"><a href="catalog.html" class="modal-categories__name">Все</a></li>
    <li class="modal-categories__category"><span class="modal-categories__name modal-categories__name_subcategories">Замки для металической мебели</span>
      <ul class="modal-categories__subcategories">
        <li class="modal-categories__category"><a href="catalog.html" class="modal-categories__name">Показать все</a></li>
        <li class="modal-categories__category"><a href="catalog.html" class="modal-categories__name">Категория 1</a></li>
        <li class="modal-categories__category"><a href="catalog.html" class="modal-categories__name">Категория 2</a></li>
        <li class="modal-categories__category"><a href="catalog.html" class="modal-categories__name">Категория 3</a></li>
      </ul>
    </li>
    <li class="modal-categories__category"><a href="catalog.html" class="modal-categories__name">Ключи</a></li>
    <li class="modal-categories__category"><a href="catalog.html" class="modal-categories__name">Почтовые замки</a></li>
    <li class="modal-categories__category"><a href="catalog.html" class="modal-categories__name">Поворотно-прижимные замки</a></li>
    <li class="modal-categories__category"><a href="catalog.html" class="modal-categories__name">Мебельные замки</a></li>
    <li class="modal-categories__category"><a href="catalog.html" class="modal-categories__name">Замки для электрошкафов</a></li>
    <li class="modal-categories__category"><a href="catalog.html" class="modal-categories__name">Замки для архивных шкафов</a></li>
    <li class="modal-categories__category"><a href="catalog.html" class="modal-categories__name">Монетные замки</a></li>
    <li class="modal-categories__category"><a href="catalog.html" class="modal-categories__name">Сейфовые замки</a></li>
    <li class="modal-categories__category"><a href="catalog.html" class="modal-categories__name">Поворотные рукояти</a></li>
  </ul>
  <div class="modal__form upload-form">
    <div class="upload-form__close"></div>
    <div class="upload-form__text">
      <p class="upload-form__headling">Не нашли что искали? <br /> Оставьте заяку на товар</p>
      <p class="upload-form__description">Оставьте свои контактные данные, опишите необходимый товар и приложите картинку. В ближайшее время с Вами свяжется наш менеджер для уточнения деталей.</p>
    </div>
    <form class="upload-form__form form">
      <p class="upload-form__headling">Контактные данные</p>
      <p class="upload-form__description upload-form__description_margined">Обращайтесь к нам по любым вопросам и предложения</p>
      <div class="upload-form__inputs">
        <input type="text" name="uname" placeholder="Ф.И.О" class="form__input upload-form__input"/>
        <textarea name="umsg" placeholder="Название или описание товара" class="form__textarea upload-form__textarea"></textarea>
        <input type="text" name="ucontacts" placeholder="E-mail или телефон" class="form__input upload-form__input"/>
      </div>
      <div class="upload-form__file">
        <p class="upload-form__headling">Загрузите изображение</p>
        <label class="input-file">
          <p class="upload-form__filetext">Файл не выбран..</p>
          <button type="button" class="button button_white">Выбрать файл</button>
          <input type="file" name="ufile" class="upload-form__fileinput"/>
        </label>
      </div>
      <button type="submit" class="button button_green upload-form__submit">Оставить заявку</button>
    </form>
  </div>
</div>