extends layout/layout.jade
include components/card_cert.jade
block content
  .container.container_top.single
    .single__thumbnail
      img(src='http://placehold.it/800x500')
    .single__content
      h1.single__headling С 30-го апреля по 10-е мая скидки -20% на все сейфовые замки производителя RZ!
      .single__date Опуликованно: 10.11.16
      .single__text
        p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique provident rem soluta, itaque sequi laudantium, doloremque unde quas repudiandae molestiae deserunt id eaque obcaecati earum distinctio minima. Laborum temporibus quis provident, rem voluptates. Libero minus nam dolores hic repellat. Ullam ipsa sit architecto eos minima numquam illo libero necessitatibus beatae a et modi incidunt facere tenetur dicta, asperiores impedit ea, quam dolor dolore, nobis possimus accusamus provident velit! Rem quas suscipit fugiat, adipisci, sequi dicta. Illum quibusdam, quos voluptate ullam, sapiente assumenda dolorum est qui perspiciatis placeat rem ipsum laudantium eos optio et animi cum earum saepe pariatur. Corporis id nesciunt libero pariatur minus provident eius nostrum veritatis impedit neque, quaerat? Sed laborum repellendus ullam illum praesentium. Tenetur, assumenda minus natus quod nobis inventore doloremque, repellendus maiores culpa eius, cumque tempora voluptates quo quis provident. Laboriosam optio quam ducimus nobis officiis illum architecto et similique obcaecati eum aliquam ad maxime aspernatur est animi nisi, repellendus atque adipisci, tempore qui a eligendi perspiciatis unde repudiandae molestiae. Voluptatem vel blanditiis, minima, ipsum distinctio earum possimus ipsam nihil quos laudantium placeat provident. Commodi quas aliquam sint odit modi consequatur totam. Iure facilis minima est fugiat, cumque, earum corporis temporibus animi beatae quidem iste.

    