footer.footer(id='footer')
  .footer__subscribe.footer-subscribe.wrapper
    .footer-subscribe__description
      h2.footer-subscribe__headling Подпишись!
      .footer-subscribe__helper На последние новости и акционные предложения
    form.footer-subscribe__form.form
      input.form__input(type='email' name='email' placeholder='Введите Ваш E-mail').footer-subscribe__input
      button(type='submit').footer-subscribe__submit.button.button_green Подписаться
  adress.footer__contacts.footer-contacts.container_wide
    .footer-contacts__map
      iframe(src='https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d10593.248476153914!2d35.07039305502318!3d48.412151877543735!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40dbfc8f60737dd7%3A0x2c299ca9a3a318fd!2z0L_RgNC-0LIuINCU0L7QsdGA0L7QstC-0LvRjNGG0ZbQsiwgMywg0JTQvdGW0L_RgNC-0L_QtdGC0YDQvtCy0YHRjNC6LCDQlNC90ZbQv9GA0L7Qv9C10YLRgNC-0LLRgdGM0LrQsCDQvtCx0LvQsNGB0YLRjA!5e0!3m2!1sru!2sua!4v1461665052554', height='100%', frameborder='0', style='border:0', allowfullscreen='')
    .footer-contacts__callback
      form.footer-contacts__form.footer-form.form
        h3.footer-form__headling Обратная связь
        p.footer-form__description Обращайтесь к нам по любым вопросам и предложениям
        input.form__input.footer-form__input(name='uname', type='text', placeholder='Ф.И.О')
        input.form__input.footer-form__input(name='umail', type='email', placeholder='Введите ваш E-mail')
        textarea.form__textarea.footer-form__textarea(name='umsg', placeholder='Cообщение')
        button(type='submit').footer-form__submit.button.button_green Отправить
      .footer-contacts__tabs.footer-tabs
        ul.footer-tabs__list
          li.footer-tabs__tab(role='button') Польша
          li.footer-tabs__tab.footer-tabs__tab_active(role='button') Украина
          li.footer-tabs__tab(role='button') Россия
        .footer-tabs__item
          h3.footer-tabs__headling.flaticon-loc Украина, Харьков, ул. Улиц 45
          h4.footer-tabs__subheadling Телефоны
          ul.footer-tabs__contacts
            li.footer-tabs__contact
              a.footer-tabs__contact-link.footer-tabs__contact-link_phone.flaticon-phone(href='tel:+380994567890') +38 099 456 78 90
            li.footer-tabs__contact
              a.footer-tabs__contact-link.footer-tabs__contact-link_phone.flaticon-phone(href='tel:+380994567890') +38 099 456 78 90
          h4.footer-tabs__subheadling Почта
          ul.footer-tabs__contacts
            li.footer-tabs__contact
              a.footer-tabs__contact-link.footer-tabs__contact-link_mail.flaticon-mail(href='mailto:osnova-m@gmail.com') osnova-m@gmail.com
            li.footer-tabs__contact
              a.footer-tabs__contact-link.footer-tabs__contact-link_mail.flaticon-mail(href='mailto:osnova-m@gmail.com') osnova-m@gmail.com
      .footer-contacts__social.footer-social
        h3.footer-social__headling Рассажите о нас в соц.сетях!
        ul.footer-social__links.social-icons_footer.social-icons
          li.social-icons__item
            a.social-icons__icon.social-icons__icon_google.flaticon-gpls(href='#')
          li.social-icons__item
            a.social-icons__icon.social-icons__icon_linkedin.flaticon-lin(href='#')
          li.social-icons__item
            a.social-icons__icon.social-icons__icon_facebook.flaticon-face(href='#')
  .footer__credentials.wrapper
    p.footer__vendor Сайт разработан студией 
      |!{'<a href="evolve.in.ua" class="footer__vendor_link">"Evolve"</a>'}, 
      | официальным IT-партнером международной !{'<br>'} 
      | консалтинговой компании !{'<a href="evolve.in.ua" class="footer__vendor_link">"Аkira"</a>'}
    p.footer__copyright ООО "Основа-Маркет" (с) Все права защищены. 2016