header.header
  adress.header__contacts.contact-bar
    ul.contact-bar__real.contact-icons
      li.contact-icons__item
        a.contact-icons__icon.contact-icons__icon_map.flaticon-loc(href='#footer') | Харьков
      li.contact-icons__item
        a.contact-icons__icon.contact-icons__icon_phone.flaticon-phone(href='tel:+380636605919') + 38 099 456 78 90
      li.contact-icons__item
         a.contact-icons__icon.contact-icons__icon_mail.flaticon-mail(href='mailto:osnova-m@gmail.com') osnova-m@gmail.com
    ul.contact-bar__social.social-icons
      li.social-icons__item
        span.social-icons__intro Мы в соцсетях:
      li.social-icons__item
        a.social-icons__icon.social-icons__icon_google.flaticon-gpls(href='#')
      li.social-icons__item
        a.social-icons__icon.social-icons__icon_linkedin.flaticon-lin(href='#')
      li.social-icons__item
        a.social-icons__icon.social-icons__icon_facebook.flaticon-face(href='#')
  nav.header__menu
    .header__logo
      a(href='/')
        img(src='images/logo-up.svg')
        img(src='images/logo-down.svg')
    .header__navigation
      .header__mobile-hamburger.hamburger-button
        i.hamburger-button__icon.flaticon-menu
        .hamburger-button__text
      ul
        li#menu-item-53.menu-item.menu-item-type-post_type.menu-item-object-page.current-menu-item.page_item.page-item-8.current_page_item.menu-item-53
          a(href='/catalog.html') Каталог
        li#menu-item-53.menu-item.menu-item-type-post_type.menu-item-object-page.current-menu-item.page_item.page-item-8.current_page_item.menu-item-53
          a(href='/vendors.html') Производители
        li#menu-item-53.menu-item.menu-item-type-post_type.menu-item-object-page.current-menu-item.page_item.page-item-8.current_page_item.menu-item-53
          a(href='/sales.html') Акции
        li#menu-item-53.menu-item.menu-item-type-post_type.menu-item-object-page.current-menu-item.page_item.page-item-8.current_page_item.menu-item-53
          a(href='/cert.html') Сертификаты
        li#menu-item-53.menu-item.menu-item-type-post_type.menu-item-object-page.current-menu-item.page_item.page-item-8.current_page_item.menu-item-53
          a(href='#footer') Контакты
    .header__controls.control-bar
      .control-bar__item.control-bar__item_search
        i.control-bar__icon.flaticon-search
        .conrol-bar__tooltip
      .control-bar__item.control-bar__item_cart
        i.control-bar__icon.flaticon-cart
        .conrol-bar__tooltip
      .control-bar__item.control-bar__item_order
        i.control-bar__icon.flaticon-downl
        .conrol-bar__tooltip
      .control-bar__item.control-bar__item_lang
        i.control-bar__icon.flaticon-lang
        .conrol-bar__tooltip
